# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore build artifacts
build/
dist/
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Ignore logs and temporary files
*.log
*.tmp

# Ignore database files
*.db
*.sqlite

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore any other project-specific files or directories
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
